#my-overrides .producttitle > .titles {
  color: white;
}

/*#overrides {
  float; none;
}*/

.heropic {
  width: 100%;
  height: 290px;
  background: url("../img/Logo banner-01.png");
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

.navbar {
  /*border-top: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
  float: none;
  /*padding-left: 320px;*/
}

.navbar a {
  color: #601716;
  font-family: "Quicksand", sans-serif;
}

.navbar-header {
  text-transform: capitalize;
  font-size: 20px;
}

.collapse .navbar-collapse {
  text-align: center;
}

/*.my-nav {
  display: block;
  margin: auto;
}*/

/*.products {
  padding: 40px 0;
}*/

.body-products {
  width: 90%;
}
.body-spacing {
  padding: 0 15px;
}

.mid-row {
  height: 473px;
}

.deo-image {
  padding-top: 150px;
}

.hand-save {
  padding-top: 25px;
}

.body-products h3 {
  font-family: "Quicksand", sans-serif;
  color: #601716;
  text-align: center;
  font-size: 20px;
}

.body h2 {
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
  font-size: 80px;
  padding-top: 88px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.skin-save {
  padding-top: 40px;
}

.body {
  height: 300px;
  margin-top: 35px;
  margin-bottom: 60px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) ),
    url(../img/shutterstock_herbs_and_spices.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
}



.love-header {
  height: 300px;
  margin-top: 35px;
  margin-bottom: 60px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) ),
    url(../img/shutterstock_olive_branch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
}

/*img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); For IE8 and earlier
}*/

/*.body-right {
  padding-right: 30px;
}

.body-left-right {
  padding-left: 30px;
  padding-right: 30px;
}

.body-left {
  padding-left: 30px;
}*/

.olive {
  width: 360px;
  height: 240px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) ),
    url(../img/shutterstock_olive_branch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
  margin-left: 30px;
}

a:hover {
  text-decoration: none;
}

.producttitle {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 75px;
  text-align: center;
  padding-top: 55px;
}

.aloe {
  width: 360px;
  height: 240px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) ),
    url(../img/shutterstock_aloe_isolated_in_pot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 30px;
}

.love-header h2 {
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
  font-size: 80px;
  padding-top: 88px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.herbs {
  width: 360px;
  height: 240px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) ),
    url(../img/shutterstock_herbs_and_spices.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.pre-footer {
  text-align: center;
  color: #601716;
  padding-top: 30px;
  font-family: "Quicksand", sans-serif;
}

.pre-footer p {
  font-size: 20px;
  padding-bottom: 20px;
}

.face h2 {
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: #601716;
}

.pre-footer h2 {
  padding-bottom: 10px;
}

.last-row {
  padding-top: px;
}

.icons {
  padding-bottom: 30px;
  font-size: 30px;
}

.footer {
  padding-top: 30px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  padding-bottom: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.footer a {
  color: #601716;
  font-size: 13px;
}

.product-info {
  margin-left: 30px;
}

.love-container {
  text-align: center;
  font-size: 15px;
}

.love-container p {
  padding-bottom: 20px;
  padding-top: 20px;
}

.love-header h2 {
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
  font-size: 80px;
  padding-top: 88px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.flower {
  width: 100px;
  height: 100px;
  padding: 20px; 0px;
}

.last-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #601716;
}

.footer a {
  font-size: 20px;
}

.fa-3x {
  font-size: 2em;
}

.fa-facebook-square {
  padding-top: 20px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }

.caret-right {
  border-left: 4px solid black;
  border-right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.love-container {
  padding-bottom: 30px;
  text-align: center;
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
}

.love-container a {
  color: #601716;
  font-size: 20px;
  text-decoration: none;
}

.about-container {
  text-align: center;
  padding-bottom: 50px;
}

.about-info {
  padding-bottom: 100px;
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}

.resources-info {
  padding-top: 30px;
  padding-bottom: 100px;
}

.partners-list {
  padding-bottom: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
  text-transform: capitalize;
  text-align: center;
  color: #601716;
}

.partners-info h2 {
  margin-top: 0px;
  color: #601716;
}

.partners-info a {
  color: #601716;
  text-decoration: none;
}

.partners-container {
  text-align: center;
  padding-bottom: 30px;
  font-family: "Quicksand", sans-serif;
  color: #601716;
  font-size: 20px;
}

.partners-info {
  text-align: center;
  padding-bottom: 30px;
  font-family: "Quicksand", sans-serif;
  color: #601716;
  padding-top: 30px;
}

.partners-info p {
  font-size: 20px;
}

.map {
  width: 300px;
  height: 300px;
}

.hair-container {
  text-align: center;
  padding-bottom: 30px;
}

.hair h2 {
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
  font-size: 80px;
  padding-top: 88px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.hair {
  height: 300px;
  margin-top: 35px;
  margin-bottom: 60px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) ),
    url(../img/shutterstock_aloe_isolated_in_pot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
}

.hair-info {
  padding-bottom: 25px;
  padding-left: 30px;
  font-family: "Quicksand", sans-serif;
  color: #601716;
  font-size: 20px;
  text-transform: inherit;
  text-align: center;
}

.hair-info h2 {
  margin-top: 0px;
  text-transform: capitalize;
}

.hair-info h4 {
  text-transform: capitalize;
}

.hair-info p {
  font-size: 16px;
}

.text-padding {
  padding-left: 30px;
}

.skin-info {
  padding-bottom: 50px;
  padding-left: 30px;
  font-family: "Quicksand", sans-serif;
  color: #601716;
  font-size: 20px;
  text-transform: inherit;
}

.skin-info h2 {
  margin-top: 0px;
  text-transform: capitalize;
}

.skin-info p{
  font-size: 16px;
}

.left-img {
  padding-left: 0px;
}

.face-container {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #601716;
  text-transform: capitalize;
}

.face h2 {
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
  font-size: 80px;
  padding-top: 88px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.face {
  height: 300px;
  margin-top: 35px;
  margin-bottom: 60px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) ),
    url(../img/shutterstock_olive_branch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
}

.face-products {
  /*padding-top: 40px;*/
  padding-bottom: 100px;
  padding-left: 30px;
  font-family: "Quicksand", sans-serif;
  color: #601716;
  text-transform: capitalize;
  text-align: center;
}

.face-products a {
  color: #601716;
}

.steps-space {
  padding-top: 50px;
}

.lip-spacing {
  padding-bottom: 30px;
}

.coming-soon {
  padding-bottom: 100px;
}

.ganesh {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.disclaimer {
  padding-top: 20px;
}

.last-row {
  padding-bottom: 80px;
}
