.heropic {
  width: 100%;
  height: 400px;
  background: url("../img/Logo banner-01.png");
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  float: none;
}

.navbar a {
  color: #601716;
}

.navbar-header {
  text-transform: capitalize;
  font-size: 20px;
}

.collapse .navbar-collapse {
  text-align: center;
}

.my-nav{
  display: block;
  margin: auto;
}
